project/vendor/
project/node_modules/
project/public/assets/css/style.dev.css

.env

data/postgres/*
!data/postgres/.gitkeep

data/pgadmin/*
!data/pgadmin/.gitkeep

logs/nginx/*
!logs/nginx/.gitkeep

logs/php/*
!logs/php/.gitkeep

logs/postgres/*
!logs/postgres/.gitkeep

.idea/